import(methods)
import(stats)
import(utils)
import(ggplot2)
importFrom(caret,createDataPartition,createFolds)
importFrom(nnet,multinom)
importFrom(pROC,auc,roc)
importFrom(randomForest,importance,randomForest)
importFrom(xgboost,xgb.DMatrix,xgb.importance,xgb.train)

export(AdaptmsClassifierDF)
export(AdaptmsClassifierFolder)
export(AdaptmsMulticlassClassifier)
export(BaselineClassifier)
export(NonRefitClassifier)
export(NonValClassifier)
export(XGBRFClassifierDF)
export(XGBRFClassifierFolder)
export(install_adaptms_dependencies)
